<div class="loading" *ngIf="!hotels">
	Cargando...
</div>

<div class="container-fluid" *ngIf="hotels">
	<h1>{{page_title}}</h1>
	<hr>
	<div class="card-columns">
		<article class="card w-100" *ngFor="let hotel of hotels">
			<div class="card-header">
				<h3>
					<a [routerLink]="['/hotel', hotel.id]">
						{{hotel.hotel}}
					</a>	
				</h3>
			</div>
			<div class="card-body">
				{{ hotel.content}}
				<ul>
					<li>
						{{hotel.address}}
					</li>
					<li>
						{{hotel.stars}}
					</li>
					<li>
						{{hotel.category.name}}
					</li>
				</ul>
			</div>
			<div class="card-footer mt-3">
				<button [routerLink]="['/hotel', hotel.id]" type="button" class="btn btn-success btn-sm mr-3">
					Leer
				</button>
				<span *ngIf="identity && identity.id == hotel.user_id">
					<button [routerLink]="['/editar-hotel', hotel.id]" type="button" class="btn btn-warning btn-sm mr-3">
						Editar
					</button>
					<button (click)="deteteHotel(hotel.id)" class="btn btn-danger btn-sm">borrar</button>
				</span>
			</div>
		</article>
	</div>
</div>
