<div class="col-md-12 mt-3">
	<h1>{{page_title}}</h1>
	<p>Crea una nueva categoria de hotel.</p>

	<div class="alert alert-success" *ngIf="status == 'success'">
		EL registro se ha completado correctamente.
	</div>

	<div class="alert alert-danger" *ngIf="status == 'error'">
		EL registro NO se ha completado correctamente, vuelve a intentar más tarde.
	</div>

	<!-- Formulario de registro -->
	<form class="col-md-6" #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)">
		<div class="form-group">
			<label for="name">Categoria:</label>
			<input class="form-control" type="text" name="name" placeholder="Ingresa la categoria" #name="ngModel" [(ngModel)]="category.name" required>
			
			<small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
				El nombre de categoria no es valido
			</small>
		</div>
		
		<input type="submit" value="Crear Categoria"  class="btn btn-success" [disabled]="categoryForm.invalid">
		
	</form>
</div>
