<div class="col-md-12 mt-3">
	<h1>{{page_title}}</h1>
	<p>Modifica los datos personales de usuario.</p>

	<div class="alert alert-success" *ngIf="status == 'success'">
		EL registro se ha editado correctamente.
	</div>

	<div class="alert alert-danger" *ngIf="status == 'error'">
		EL registro NO se ha editado correctamente, vuelve a intentar más tarde.
	</div>

	<!-- Formulario de ajustes -->
	<form class="col-md-8" #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)">
		<div class="form-group">
			<label for="name">Nombre:</label>
			<input class="form-control" type="text" name="name" placeholder="Ingresa tu nombre" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-Z]+">
			
			<small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
				El nombre no es valido
			</small>
		</div>
		<div class="form-group">
			<label for="surname">Apellidos:</label>
			<input class="form-control" type="text" name="surname" placeholder="Ingresa tus apellidos" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zA-Z]+">

			<small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
				Los apellidos no son validos
			</small>
		</div>
		<div class="form-group">
			<label for="email">E-Mail:</label>
			<input class="form-control" type="email" name="email" placeholder="Ingresa tus apellidos"  #email="ngModel" [(ngModel)]="user.email" required pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

			<small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
				El correo no es valido
			</small>
		</div>
		<div class="form-group">
			<label for="description">Descripción:</label>
			<textarea [froalaEditor]="froala_options" class="form-control" type="text" name="description" placeholder="Ingresa tu descripción"  #description="ngModel" [(ngModel)]="user.description"></textarea>
		</div>

		<div class="form-group">
			<label for="image">Avatar:</label>
			<angular-file-uploader
				[config]="afuConfig"
				[resetUpload]=resetVar
				(ApiResponse)="avatarUpload($event)">
			</angular-file-uploader>
		</div>
		
		<input type="submit" value="Guardar cambios"  class="btn btn-success" [disabled]="userEditForm.invalid">
		
	</form>
</div>
