<div class="col-md-12 mt-3">
	<h1>{{page_title}}</h1>
	
	<p *ngIf="!is_edit">Cree un nuevo hotel en el sistema.</p>

	<p *ngIf="is_edit && hotels">Edita los datos del hotel en el sistema.</p>

	<div class="alert alert-success" *ngIf="status == 'success'">
		El hotel se ha creado correctamente.
	</div>

	<div class="alert alert-danger" *ngIf="status == 'error'">
		El hotel NO se ha creado correctamente, vuelve a intentar más tarde.
	</div>

	<!-- Formulario de ajustes -->
	<form class="col-md-5" #newHotelForm="ngForm" (ngSubmit)="onSubmit(newHotelForm)">
		
		<div class="form-group">
			<label for="hotel">Nombre del hotel:</label>
			<input class="form-control" type="text" name="hotel" placeholder="Ingre el nombre del hotel" #hotel="ngModel" [(ngModel)]="hotels.hotel" required>
			
			<small *ngIf="!hotel.valid && hotel.touched" class="invalid-feedback d-block">
				El nombre del hotel no es valido
			</small>
		</div>

		<div class="form-group">
			<label for="address">Dirección:</label>
			<input class="form-control" type="text" name="address" placeholder="Ingre la dirección" #address="ngModel" [(ngModel)]="hotels.address" required>
			
			<small *ngIf="!hotel.valid && hotel.touched" class="invalid-feedback d-block">
				El nombre del hotel no es valido
			</small>
		</div>

		<div class="form-group">
			<label for="content">Descripción:</label>
			<textarea [froalaEditor]="froala_options" class="form-control" type="text" name="content" placeholder="Ingresa tu descripción"  #content="ngModel" [(ngModel)]="hotels.content" required></textarea>
			<small *ngIf="!content.valid && content.touched" class="invalid-feedback d-block">
				La descripción del hotel no es valida
			</small>
		</div>
		<div class="form-group">
			<label for="category_id">Categoria:</label>
			<select class="form-control" name="category_id" #category_id="ngModel"  [(ngModel)]="hotels.category_id">
				<option *ngFor="let category of categories" value="{{category.id}}">
					{{category.name}}
				</option>
			</select>
		</div>
		<div class="form-group">
			<label for="stars">Estrellas:</label>
			<select class="form-control" name="stars" #stars="ngModel"  [(ngModel)]="hotels.stars">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
		</div>
		<div class="form-group">
			<label for="image">Imagen:</label>
			<angular-file-uploader
				[config]="afuConfig"
				[resetUpload]=resetVar
				(ApiResponse)="imageUpload($event)">
			</angular-file-uploader>
		</div>
		<input type="submit" value="guardar" class="btn btn-success" [disabled]="newHotelForm.invalid">
	</form>
	
</div>
