<div class="col-md-12" *ngIf="!hotels">
	Cargando...
</div>

<div class="col-md-12" *ngIf="hotels">
	<h1>{{hotels.hotel}}</h1>
	<hr>
	<p>
		<b>Categoria: </b>{{hotels.category.name}} - <b>Administrador del hotel:</b>{{hotels.user.name }} {{hotels.user.surname }} 
	</p>
	<hr>
	<div [innerHtml]="hotels.content"></div>
</div>