<div class="col-md-12 mt-3">
	<h1>{{page_title}}</h1>
	<p>Diligencia el sigueinte formulario para registrarte y poder publicar tu hotel.</p>

	<div class="alert alert-success" *ngIf="status == 'success'">
		EL registro se ha completado correctamente, <a [routerLink]="['/login']"> Ingresa aquí</a>
	</div>

	<div class="alert alert-danger" *ngIf="status == 'error'">
		EL registro NO se ha completado correctamente, vuelve a intentar más tarde.
	</div>

	<!-- Formulario de registro -->
	<form class="col-md-6" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
		<div class="form-group">
			<label for="name">Nombre:</label>
			<input class="form-control" type="text" name="name" placeholder="Ingresa tu nombre" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-Z]+">
			
			<small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
				El nombre no es valido
			</small>
		</div>
		<div class="form-group">
			<label for="surname">Apellidos:</label>
			<input class="form-control" type="text" name="surname" placeholder="Ingresa tus apellidos" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zA-Z]+">

			<small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
				Los apellidos no son validos
			</small>
		</div>
		<div class="form-group">
			<label for="email">E-Mail:</label>
			<input class="form-control" type="email" name="email" placeholder="Ingresa tus apellidos"  #email="ngModel" [(ngModel)]="user.email" required pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

			<small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
				El correo no es valido
			</small>
		</div>
		<div class="form-group">
			<label for="password">Contraseña:</label>
			<input class="form-control" type="password" name="password" placeholder="Ingresa una contraseña" #password="ngModel" [(ngModel)]="user.password" required>

			<small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
				La contraseña no es valida
			</small>
		</div>
		<input type="submit" value="Registrarme"  class="btn btn-success" [disabled]="registerForm.invalid">
		
	</form>
</div>
