<div class="container">
   <br>
   <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">
         <img src="assets/images/hotel.png" width="30" height="30" alt="">
         Hoteles Cheil
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item">
               <a class="nav-link" [routerLink]="['/inicio']">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" *ngFor="let category of categories">
               <a class="nav-link" href="#">{{category.name}}</a>
            </li>
         </ul>
         <ul class="navbar-nav navbar-right" *ngIf="!identity">
            <li class="nav-item active">
               <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" [routerLink]="['/registro']">Registro</a>
            </li>
         </ul>
         <ul class="navbar-nav navbar-right" *ngIf="identity && identity.name"> 
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ identity.name+' '+identity.surname }} 
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" [routerLink]="['/crear-categoria']">Crear Categoria</a>
                  <a class="dropdown-item" [routerLink]="['/crear-hotel']">Crear Hotel</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Mi perfil</a>
                  <a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes</a>
                  <a class="dropdown-item" [routerLink]="['/logout/1']">Salir</a>
               </div>
            </li>
         </ul>
      </div>
   </nav>
   <!-- CONTENIDO -->
   <router-outlet></router-outlet>
   <hr>
   <footer>
      Prueba desarrollada por <b>Juan Carlos Fuentes</b> <br>
      <a href="mailto:jcfd78@gmail.com">jcfd78@gmail.com</a>
   </footer>   
</div>